@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

li {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.addedActionText {
    width: 600px;
}

.addedActionText:hover {
    background-color: azure;
    cursor: all-scroll;
    width: 600px;
}

i:hover {
    cursor: pointer;
    color: #c00;
}

i {
    padding-right: 20%;
}

.addActionButton {
    width: 186px;
}

.actionButton {
    width: 100%;
    border: solid 3px white;
    background-color: navy;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

.addActionButton, input[type=submit] {
    color:navy;
    background-color: white;
    border: solid 3px navy;
    font-weight: bold;
    border-radius: 3px;
}

.actionButton, .addActionButton, input[type=submit] {
    box-shadow: 2px 2px lightgrey;
}

.actionButton:active {
    background-color: cornflowerblue;
}

.addActionButton:active, input[type=submit]:active {
    color: cornflowerblue;
    border-color: cornflowerblue;
}

.sentenceContainer {
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

.videoDiv {
    display:flex;
}

.logList {
    max-height: 430px;
    min-width: 250px;
    overflow-y: scroll;
}

.timestamp {
    padding-right: 15px;
}

/* select with CSS avatar icons */
option.avatar {
    background-repeat: no-repeat !important;
    padding-left: 20px;
}